.topNav {
    color: #ffffff;
    display: flex;
    background-color: #0083c5;
    border-radius: 0.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    overflow: hidden;
}
.topNav div {
    padding: 14px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex: 1;
}
.topNav div.active {
    background-color: #FFCA08;
    color: #0070AF;
}