.settings {
    background-color: #B5A3CD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px 20px 20px;
}

@media screen and (min-width: 600px) {
    .settings {
        width: 239px;
        border-radius: 9rem;
    }
}
