.settings {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    background-color: #FFCA08;
    border-radius: 0.5em;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 15px;
}
.settings > div {
    padding: 14px;
    display: flex;
    align-content: center;
    flex: 1;
}
.settings > div.title {
    color: #0070AF;
    margin-left: 20px;
    padding: 5px;
}
.item {
    position: relative;
    background-color: #0083c5;
}

.scroller-wrapper {
    width: 100%;
    overflow: hidden;
}

.scroller {
    user-select: none;
    transform: translateZ(0);
    width: 778px;
    text-size-adjust: none;
}
.scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.gradient_start {
    position: absolute;
    top: 0px;
    background-color: #0070af;
    height: 100%;
    left: 14px;
    width: 15px;
    background: linear-gradient(to left, rgba(0, 131, 197, 0), rgba(0, 131, 197, 1));
    z-index: 1;
}

.gradient_end {
    position: relative;
}

.gradient_end > div {
    position: absolute;
    top: 0px;
    background-color: #0070af;
    height: 100%;
    left: -15px;
    width: 15px;
    background: linear-gradient(to right, rgba(0, 131, 197, 0), rgba(0, 131, 197, 1));
    z-index: 1;
}