.scroller li {
    display: block;
    float: left;
    padding: 10px;
    height: 100%;
}

.scroller li.selected {
    background-color: #FFCA08;
    color: #0070AF;
}

.scroller li.disabled {
    background-color: #819bab;
    color: #c4c5c5;
}